@import './colors.scss';
@import './global.scss';
@import './animations.scss';

@import './components/slider.scss';
@import './components/banner.scss';
@import './components/services.scss';


.working {
    width: 100%;

    background-color: yellow;
    position: fixed;
    z-index: 1000;
    padding: 10px;
}