.slider {
    width: 100%;
    height: 100vh;

    @media (max-width: $md) {
       height: 650px;
    }

    @media (max-width: $xs) AND (max-height: $smd) {
       height: 100vh;
       min-height: 650px;
    }

    > section {
        position: relative;
        height: 100%;
        width: 100%;

        > img:nth-child(1) {
            object-fit: cover;
            z-index: -10;

            display: block;
            @media (max-width: calc($sm - 1px)) {
                display: none;
            }

        }

        > img:nth-child(2) {
            object-fit: cover;
            z-index: -10;

            display: none;
            @media (max-width: calc($sm - 1px)) {
                display: block;
            }

        }

        > section:nth-child(3) {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;

            @media (max-width: calc($sm - 1px)) {
                flex-direction: column-reverse;
            }

            padding: 0px var(--pd-screen) 0px var(--pd-screen);

            > section {
                width: 50%;
                height: 100%;
                
                @media (max-width: calc($sm - 1px)) {
                    width: 100%;
                }
            }

            > section:nth-child(1) {
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media (max-width: calc($sm - 1px)) {
                    justify-content: flex-start;
                }

                > h1 {
                    text-transform: uppercase;
                }

                > p {
                    margin-top: 20px;
                }

                > section {
                    margin-top: 10px;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: left;


                    > a:hover {
                        transform: scale(1.02);
                        box-shadow: 0px 0px 20px 0px rgba(4, 24, 91,0.6);
                    }
                    > a {
                        display: block;
                        all: unset;
                        color: #FFF;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        padding: 10px 20px 10px 20px;
     
                        border-radius: 28px;
                        user-select: none;

                        background-color: var(--dark);
                        background-image: linear-gradient(var(--light), var(--dark));
                        background-image: linear-gradient(to right, var(--light), var(--dark), var(--dark), var(--light));
                        transition: all 0.4s ease-in-out;

                        font-size: calc(13px + 3 * (100vw - 300px) / 1620) !important;
                        line-height: normal;
                        cursor: pointer;

                        @media (max-width: $md) {
                            margin: 0px;
                            width: 100%;
                            text-align: center;
                        }

                    }

                    > a:nth-child(1) {
                        margin-top: 10px;
                        margin-right: 10px;
                    }

                    > a:nth-child(2) {
                        margin-top: 10px;
                        margin-right: 10px;
                    }

                }
            }

            > section:nth-child(2) {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;

                > img {
                    object-fit: contain;
                    object-position: center;
                    max-height: 500px;
                    max-width: 500px;
                    top: unset !important;
                    bottom: unset !important;
                    left: unset !important;
                    right: 0 !important;
                    @media (max-width: calc($sm - 1px)) {
                        right: unset !important;
                        bottom: 0px;
                        max-width: unset;
                    }


                }

            }

        }

        > section:nth-child(4) {
            position: absolute;

            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;

            padding: 0px var(--pd-screen) 0px var(--pd-screen);
            
            z-index: -5;

            @media (max-width: calc($sm - 1px)) {
                display: none;
            }


            > div:nth-child(1) {
                top: 18%;
                left: 5%;
            }

            > div:nth-child(2) {
                top: 50%;
                left: -3%;
            }

            > div:nth-child(3) {
                top: 70%;
                left: 32%;
            }

            > div:nth-child(4) {
                top: 80%;
                left: 10%;
            }

            > div:nth-child(5) {
                top: 40%;
                left: 95%;
            }

            > div:nth-child(6) {
                top: 75%;
                left: 80%;
            }
        }

    }
}